  :root {
    --background: #ffffff;
    --hero-background: #DCE0E6;
    --active-nav-link: #B31F22;
    --text: #000000;
    --footer-text: #666666;
    --button-background: #567EBB;
    --button-border-dark: #1F1F20;
    --article-hover-border: #2B4C7E;
    --indicator: #D9D9D9;

    --prompt-font: 'Prompt', sans-serif;
    /* for navigation text,quote */
    --oswald-font: 'Oswald', sans-serif;
    /* for buttons,heading */
    --opensans-font: 'Open Sans', sans-serif;
    /* for about section , */


    --box-radius:100px;
  }

  body {
    font-family: var(--oswald-font);
    margin: 0;
    overflow-x:hidden;
    
  }

  /* Styles for Header */

  header,
  .svg-container {
    background-color: var(--hero-background);

  }

  header {
    display: flex;
    padding-bottom: 20px;
    font-size: 12px;
    font-family: var(--oswald-font);
    padding: 30px;
    font-weight: 900;
  }
 .hamburger{
  display: none;
 }
  .logo {
    width: 30%;
    height: auto;
    margin-left: 10px;
  }

  .navigation {
    width: 80%;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    margin-right: 20%;
    align-items: center;
  }

  /* links section */

  .navigation a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
    letter-spacing: 0.1em;
    font-size: 12px;
  }

  nav a:hover {
    text-decoration: underline;
    color: var(--active-nav-link);
  }

  /* Hero Section Svg's */

  .svg-container {
    position: relative;
    width: 100%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .svg-height {
    bottom: 11px;
  }

  .crane {
    position: absolute;
    bottom: 11vh;
    /* 8% of the viewport height */
    z-index: 1;
    left: 77%;
    /* Center horizontally */
    transform: translate(-60%);
    /* Adjust horizontally to center properly */
    width: 50vw;
    height: 70vh;
    animation: rotateCrane 1s;
  }



  .svg-icon {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .top {
    position: absolute;
    width: 110%;
    /* Initially, set width to 0 */
    height: auto;
    z-index: 1;
    transition: 0.5s;
    /* Animation duration and easing function */
    /* 1-second delay before the animation starts */
  }




  .svg-sun {
    position: absolute;
    left: 15vw;
    top: 3rem;
    z-index: 1;
    height: 20vh;
    width: auto;
    transform: translate(-60%);

  }

  .hero-logo {
    position: absolute;
    left: -47%;
    top: 18%;
    width: 60%;
    height: auto;
    z-index: 2;
    transition: left 0.5s;
    /* Animation duration and easing function */

  }



  /* Styles for Quote */

  .quote-button {
    background-color: var(--background);
    position: absolute;
    /* Fixed positioning for centering */
    top: 43%;
    /* Adjusted to place 300px down from the top */
    left: 61%;

    padding: 1% 2%;
    margin: 0;
    /* Remove margins */
    border: none;
    border-left: 5px solid var(--active-nav-link);
    cursor: pointer;
    z-index: 1;

  }

  .quote-button:focus {
    outline: 2px solid var(--active-nav-link);
  }

  /* About Us section */

  .phone {
    top: 75px;
    width: 90%;
    /* Set width to 90% of the viewport width */
    max-width: 950px;
    /* Maximum width */
    height: 370px;
    /* Automatically adjust height */
    max-height: 439px;
    /* Maximum height */
    outline: 19px solid var(--button-border-dark);
    border-radius: 26px;
    /* Border radius in percentage */
    /* Border thickness in viewport units */

    position: relative;
    margin: 0 auto;
    /* Center the element horizontally */
    animation: zoomphone 1s forwards;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 500px;
  }


  .screen {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--article-hover-border) 64.12%, var(--button-border-dark) 116.17%);
    border-radius: 26px;
    /* Border radius in percentage */
    position: relative;
    overflow: hidden;
  }

  .notch {
    width: 48px;
    height: 190px;
    background-color: var(--button-border-dark);
    position: absolute;
    top: calc(50% - 90px);
    left: 0;
    border-radius: 0 100px 100px 0px;
  }

  .semicircle {
    width: 100%;
    /* Full width of the viewport */
    height: 70%;
    /* Half of the viewport height */
    background: linear-gradient(180deg, var(--article-hover-border) 12.84%, var(--article-hover-border) 100%);
    border-radius: 0 0 50vh 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about,
  #testimonial {
    padding-left: 110px;
    color: var(--background);
    margin-bottom: 0;
    letter-spacing: 0.32em;

  }

  .about {
    width: 70%;
  }

  #about {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: var(--oswald-font) !important;
    margin-left: 2em;

  }

  .about-h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
  }



  .horizontal-line::before {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: var(--button-background);
    position: absolute;
    top: 25px;
    left: 70px;
    transform: translateY(-50%);
  }

  .about-header {
    padding-left: 60px;
    color: var(--text);
    font-family: var(--oswald-font);
    font-size: 15.87px;
    margin: 0;
    margin-left: 10px;

  }

  .about-p {
    width: auto;
    height: auto;
    top: 168px;
    margin-left: 2px;
    gap: 8px;
    font-family: var(--oswald-font);
    color: var(--background);

  }

  .about-build {
    bottom: -4px;
    position: absolute;
    width: 93%;
    height: auto;
    left: -1px;

  }

  .about-button {
    width: auto;
    height: auto;
    left: 70px;
    padding: 15px 40px;
    border: 0;
    border-left: 6px solid var(--button-border-dark);
    gap: 10px;
    background-color: var(--button-background);
    font-family: var(--oswald-font);
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.12em;
    text-align: left;
    color: var(--background);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top: 250px;
    z-index: 1;
  }




  /*Project Section*/

  .feedback {
    margin-top: 190px;
  }

  .project-section {
    z-index: 0;
    display: flex;
    left: 0;
    margin: auto;
    width: 100%;
    max-width: 977px;
    flex-direction: column;
    align-items: end;
    padding: 0 20px;
    justify-content: right;
    z-index: 999;


  }


  .project-header {
    display: flex;
    gap: 16px;
    font-size: 14px;
    color: var(--button-border-dark);
    font-weight: 400;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 4.48px;
    line-height: 119%;
    animation: righttoleft 1s forwards;
    animation-timeline: view();
    animation-range: 0px 900px;
  }


  .projects-title {
    font-family: var(--opensans-font);
    flex-grow: 1;
  }

  .title-underline {
    background-color: var(--article-hover-border);
    width: 52px;
    height: 1px;
    margin: auto 0;
  }

  .explore-text {
    color: var(--text);
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-top: 28px;
    font: 700 45px/119% var(--oswald-font);
    animation: righttoleft 1s forwards;
    animation-timeline: view();
    animation-range: 0px 600px;
  }

  .work-gallery {
    align-self: stretch;
    margin-top: 44px;
    transform-origin: right;
    animation: expand 1s forwards;
    animation-timeline: view();
    animation-range: 0px 750px;
  }

  .image-row {
    gap: 20px;
    display: flex;
  }

  .large-image-container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 73vw;
    max-width: 73%;
    margin-left: 0px;
  }

  .large-image {
    aspect-ratio: 1.2;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-bottom: 20px solid var(--button-background);
    z-index: 3;
  }

  .small-image-container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 20px;
  }

  .small-image {
    aspect-ratio: 0.59;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-bottom: 1px solid var(--button-background);
    z-index: 3;
  }

  .navigation-buttons{
    display: none;
  }
  /* @media screen and (max-width: 1600px) {
   .small-image{
    width:60%;
    margin-left: -70px;
   }
   .large-image{
    width: 60%;
   }
} */
  .indicator-row {
    display: flex;
    gap: 30px;
  }

  .indicator {
    width: 80px;
    height: 10px;
    background: var(--indicator);

  }

  .indicator:hover {
    background-color: var(--button-border-dark);
  }

  .all-project {
    position: absolute;
    top:-280px;
    right: 1%;
    height: 30px;
  }

  #project-button {
    position: relative;
    top: 10px;
    float: right;
    width: auto;
    height: 70px;
    width: 240px;
    font-size: 20px;
    border: none;
    background-color: var(--button-background);
    color: var(--background);
    border-right: 10px solid var(--button-border-dark);
  }

  /* Testimonial Section*/

  #testmonial-section {
    display: flex;
    justify-content: center;

    position: relative;
    top: -220px;
    z-index: -1;
    /* Ensure the testimonial section is above other elements */
  }

  .testimonial-container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 47%;
  }

  .testimonial-slide-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rounded-box {
    width: 97%;
    height: 828px;
    background: var(--article-hover-border);
    border-radius: 50px;
    position: relative;
    left: 2%;
    right: 2%;
    z-index: 1;
    /* Ensure the testimonial box is above other elements */
  }

  .testimonial-client {
    text-align: left;
    animation: ltor 1s forwards;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 500px;
  }


  .testimonial-container .horizontal-line::before {
    left: 0;
    animation: ltor 1s forwards;
  }

  .testimonial-client p {
    color: #FFF;
    font-family: var(--oswald-font);
    font-size: 12.245px;
    font-style: normal;
    font-weight: 400;
    line-height: 119%;
    /* 14.572px */
    letter-spacing: 100px;
    text-transform: uppercase;
  }

  .testimonial-client h1 {

    text-transform: uppercase;
    color: var(--background);
    font-family: var(--oswald-font);
    font-size: 39.36px;
    font-style: normal;
    font-weight: 700;
    line-height: 119%;
    /* 46.838px */
    letter-spacing: 0.787px;
    text-transform: uppercase;
  }

  .testimonial-buttons {
    position: absolute;
    bottom: 20px;
    /* Adjust the position of the buttons */
    left: 50%;
    transform: translateX(-50%);
  }

  .testimonial-button {
    padding: 10px 20px;
    background-color: var(--button-background);
    color: var(--background);
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

  .testimonial-button:last-child {
    margin-right: 0;
    /* Remove margin from the last button */
  }

 /* Article Section */

.articles {
  display: flex;
  justify-content: center;
  gap: 20%;
  flex-wrap: wrap-reverse;
  position: relative;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 1%; /* Gap between grid items */
}

.box {
  width: 18vw;
  height: 18vw;
  min-width: 150px;
  min-height: 150px;
  max-width: 232px;
  max-height: 232px;
  background-color: var(--indicator);
  margin: 10px;
  /* Position relative for absolute positioning */
  position: relative;
  
}
#box4-text{
  display: none;
}

/* Create border effect on hover */


.box:nth-child(1) {
  border-top-left-radius: var(--box-radius);
  transform-origin: right;
  animation: smallbox 1s forwards;
  animation-timeline: view();
  animation-range: 0 400px;
   /* Add relative positioning */
}


.box:nth-child(1):hover::after {
  content: '';
  position: absolute; /* Use absolute positioning */
  top: -20px; /* Adjust to match the border width */
  left: -20px; /* Adjust to match the border width */
  width: calc(100% ); /* Adjust to include border widths */
  height: calc(100%); /* Adjust to include border widths */
  border-left: 20px solid var(--article-hover-border);
  border-top: 20px solid var(--article-hover-border);
  border-top-left-radius: 120px; /* Match box's top-left radius */
  pointer-events: none; /* Prevent hover from affecting underlying elements */
}


.box:nth-child(2) {
  border-top-right-radius: var(--box-radius);
  transform-origin: left;
  animation: smallbox 1s forwards;
  animation-timeline: view();
  animation-range: 0 400px;
  position: relative; /* Add relative positioning */
}

.box:nth-child(2):hover::after {
  content: '';
  position: absolute; /* Use absolute positioning */
  top: -20px; /* Adjust to match the border width */
  right: -20px; /* Adjust to match the border width */
  width: calc(100% ); /* Adjust to include border widths */
  height: calc(100%  ); /* Adjust to include border widths */
  border-right: 20px solid var(--article-hover-border);
  border-top: 20px solid var(--article-hover-border);
  border-top-right-radius: 120px; /* Match box's top-right radius */
  pointer-events: none; /* Prevent hover from affecting underlying elements */
}


.box:nth-child(3) {
  border-bottom-left-radius:var(--box-radius);
  transform-origin: left;
  animation: smallbox 1s forwards;
  animation-timeline: view();
  animation-range: 0 400px;
  position: relative; /* Add relative positioning */
}

.box:nth-child(3):hover::after {
  content: '';
  position: absolute; /* Use absolute positioning */
  bottom: -20px; /* Adjust to match the border width */
  left: -20px; /* Adjust to match the border width */
  width: calc(100%); /* Adjust to include border widths */
  height: calc(100%); /* Adjust to include border widths */
  border-left: 20px solid var(--article-hover-border);
  border-bottom: 20px solid var(--article-hover-border);
  border-bottom-left-radius: 120px; /* Match box's bottom-left radius */
  pointer-events: none; /* Prevent hover from affecting underlying elements */
}


.box:nth-child(4) {
  border-bottom-right-radius:var(--box-radius);
  transform-origin: right;
  animation: smallbox 1s forwards;
  animation-timeline: view();
  animation-range: 0 400px;
  position: relative; /* Add relative positioning */
}

.box:nth-child(4):hover::after {
  content: '';
  position: absolute; /* Use absolute positioning */
  bottom: -20px; /* Adjust to match the border width */
  right: -20px; /* Adjust to match the border width */
  width: calc(100%); /* Adjust to include border widths */
  height: calc(100%); /* Adjust to include border widths */
  border-right: 20px solid var(--article-hover-border);
  border-bottom: 20px solid var(--article-hover-border);
  border-bottom-right-radius: 120px; /* Match box's bottom-right radius */
  pointer-events: none; /* Prevent hover from affecting underlying elements */
}


  /* Article Text container */

  .article-top-text {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: sans-serif;
    display: inline;
  }

  .article-horizontal-line::after {
    content: "";
    width: 70px;
    height: 1.5px;
    background-color: var(--button-background);
    position: absolute;
    top: 15px;
    right: 5px;
    transform: translateY(-50%);
  }

  .article-text-container {
    height: 400px;
    width: 300px;
    position: relative;

  }

  .article-text-container {
    animation: righttoleft 1s forwards;
    animation-timeline: view();
    animation-range: 0px 200px;
  }

  .article-text {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 15px;
    text-align: end;
    font-family: sans-serif;
  }

  .article-button {
    height: 50px;
    width: 200px;
    font-size: 20px;
    border: none;
    background-color: var(--button-background);
    color: var(--background);
    border-right: 10px solid var(--article-hover-border);
    position: absolute;
    right: 0;
    transform-origin: left;
    animation: expand 1s forwards;
    animation-timeline: view();
    animation-range: 0px 800px;

  }


  /* Contact section */


  .contact-text-container {
    position: relative;
    top: 7vh;
    left: -250px;
    width: 90ch;

  }


  .contact-text-container p {
    font-family: var(--opensans-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-align: left;

  }

  .contact-text-container h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  .contact-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: -10px;
    justify-content: center;
    
  }



  .contact-button {
    width: 180.31px;
    height: 64px;
    background: var(--button-background);
    
    border-left: 5.24px solid var(--article-hover-border);
    color: var(--background);
    font-family: var(--oswald-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.12em;

  }
  @keyframes scalePath {
    0% { transform: scaley(1.5); }
    
    100% { transform: scaley(1); }
  }

  /* Apply animation to the path */
  #animatedPath {
    animation: scalePath 2s  ;
    
  }

  /* Footer section*/
  footer {
    width: 100%;
    background-color: var(--hero-background);
    color: var(--footer-text);
    font-family: var(--opensans-font);

  }

  @media screen and (max-width: 1600px) {


 

    .contact-text-container {
      top: 6vh;
  }
}

  hr {

    width: 100%;
    height: 2px;
    background-color: var(--text);
    border: none;
    position: relative;
    top: 3px;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    width: 100%;
    height: auto;
    padding: 30px 0;
    position: relative;
    left: -10%;
    
    flex-wrap: wrap;
  }
.footer-list-container{
  display: flex;
  gap: 30%;
  
  justify-content: center;
  width: auto;
  
  
}
  #copyright {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 50%;
    font-weight: 700px;
    flex-wrap: wrap-reverse;
  }

  #social-items {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 8px;
    height: 8px;

  }

  footer svg {
    width: 20%;
    height: 10%;
    padding: 1.5em;
  }

 .footer-link {
    font-family: var(--opensans-font);
   
    color: var(--footer-text);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;


  }
.list1,.list2,.list3{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 0 20px;
  position: relative;
  left: 10%;
  top: 10px;
}
  .footer-link:hover {
    color: var(--active-nav-link);
  }

 

  .footer-link:hover {
    color: var(--active-nav-link);
  }

  #bashers {
    font-family: var(--opensans-font);
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  color: var(--footer-text);  
  }
  #copyrightsign {
    font-family: var(--opensans-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
   
  }
  #copyrightsign a{
    text-decoration: none;
  }

  .icons {
    color: var(--text);
  }

  /*==================Animation==================*/

  @keyframes zoomphone {
    0% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes righttoleft {
    from {
      transform: translateX(110%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes ltor {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes expand {
    from {
      transform: scaleX(0) scaleY(1);
    }

    to {
      transform: scaleX(1) scaleY(1);
    }
  }

  @keyframes rotateCrane {
    0% {
      transform: translate(-60%) rotateY(-30deg);
      /* Initial position and no flip */
    }

    100% {
      transform: translate(-60%) rotateY(0deg);
      /* Final position and horizontal flip */
    }
  }

  @keyframes bigbox {
    from {
      transform: scaleX(1.5) scaleY(1.5);
    }

    to {
      transform: scaleX(1) scaleY(1);
    }
  }

  @keyframes smallbox {
    from {
      transform: scaleX(0.5) scaleY(0.5);
    }

    to {
      transform: scaleX(1) scaleY(1);
    }

  }


  @media screen and (max-width: 430px) {
    
    :root{
    --box-radius: 50px;
  }
    
    
    html{
      overflow-x: hidden;
    }
    header{
      background-color: #9BAAC0;
      height: 30%;
    }
    .logo{
      width: 60%;
      height: auto;
    }
   .navigation{
     display: none;
   }
   .hamburger {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  
  .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: transform 0.3s ease;
  }
  
  .hamburger.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
 
  .svg-container {
    
    height: 40vh;
  }
  .svg-sun{
    top: 28%;
    left:20%;
    height: 90px;
    width: 90px;
  }
  .crane{
    width: 100vw;
    height: 80vh;
    top: -14vh;
    left: 110%;
    
  }
  

  .hero-logo{
    top: 38%;
    width: 75%;
    left:20% ;
  }
  .quote-button{
    top: 65%;
    left: 72%;
  }
  .semicircle{
    height: 30%;
    position: absolute;
  }
  .about-h1{
    font-size: 1.3rem;
  }
  .about-p {
    font-size:10px;
  }
  .about-header{
   
  margin-left: 0;
  padding-left: 20px;
  width: 58ch;
  }
  .about-button{
    top: 50%;
    left: 35%;
    padding: 7.5px 20px;
    font-size: 10px;
  }
  .screen .horizontal-line::before{
    top: 27px;
    left: 20px;
    width:40px
  }
  #about{
    margin-top: 20px;
    padding-left: 50px;
    font-size: 0.7rem;
  }
  .phone{
    outline: 0;
    top: 0;
    
  }
  .notch{
    display: none;
  }
  .screen{
    background: transparent;
    margin-top: 40px;
   
    
  }
 .about-build{
   display: none;
 }

.feedback{
  margin-top: 70%;}
.project-header{
    font-size: 0.6rem;
    letter-spacing: 0.2em;
    margin-right: 20%;
}
  .title-underline{
    width: 40px;
  }


 .explore-text{
   font-size: 1.9rem;
   margin-top: 0px;
   margin-right: 20%;
 }.work-gallery {
  position: relative;
  margin-top: 10px;
}

.large-image-container {
  max-width: 60%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the image */
  position: relative;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 25px); /* Adjust width to leave space for padding */
  display: flex;
  justify-content: space-between;
  /* Adjust spacing as needed */
}

#prevBtn, #nextBtn {
  cursor: pointer;
  background-color: var(--article-hover-border);
  border: none;
  outline: none;
  color:#567EBB;
  font-size: 70px;
  transition: background-color 0.3s ease;
  padding: 0;
  margin: 0;
}

#prevBtn::before, #nextBtn::before {
  display: inline-block;
  content: attr(data-content); /* This is necessary for the arrow characters */
  transform: scaleX(0.5) scaleY(1.5); /* Adjust scaling */
}
.small-image-container {
  display: none;
}
 
 .image-row{
   justify-content: center;
   transform: translateX(-4%);
 }
 .testimonial-client h1{
   margin-left: 20px;
   font-size: 1.5rem;
 }
  .testimonial-client p{
    font-size: 0.8rem;
  }
  .testimonial-client .horizontal-line::before{
    
    left: 30px;
  }

  #slide2,.slide2,.slide1,#slide1, #slide3, .slide3{
    width: 65%;
    height:auto;
  }
  .rounded-box{
    height: 500px;
  }
  #project-button {
    top: 160px;
    width: 150px;
    height: 50px;
    font-size: 10px;
    z-index: 10;
    display: block;
    position: relative;
    margin-right:90px; /* Adjust top margin as necessary */
}

  .testimonial-container{
    top: 66.6%;
  }

  .article-text-container{
    height: 180px;
  }
  .article-text{
    font-size: 1.5rem;
  }

  .article-top-text{
    font-size: 0.6rem;
    margin-right: 100px;
  }
  .article-horizontal-line::after{
    width: 50px;
  
  }
  .indicator-row{
    display: none;
  }
.article-button{
  display: none;
}
#box4-text{
  display: block;
}
#box4{
  background-color: #666666;
  color: white;
  box-sizing: border-box;
  padding: 15px;
  
}
 .contact-container{
  margin-top: 50px;
 }
  .contact-text-container h1{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;

    
  }
  .contact-text-container p{
  font-size: 0.9rem;
  margin-top:7px ;
  
  }
  .contact-button{
    font-size:0.8rem;
    width: 140px;
    height: 50px;
    gap: 10%;
  }
   
/*Footer */
 .hidden{
   display: none;
 }
 .list1,.list2,.list3
 {display: flex;
  justify-content: center;}
 .footer-link{
  text-align: center;
 }
 

  .footer-list-container{
    
    flex-direction: column;
  }
}

